@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	overflow-x: hidden;
}

h5 {
	font-size: 16px;
	font-weight: 600;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
}

h5.bold-font {
	font-size: 16px;
	font-weight: 700;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	background: linear-gradient(to bottom, #2FA5F6, #4318FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

h6 {
	font-size: 16px;
	font-weight: 400;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
}

button {
	font-family: "Inter";
	font-optical-sizing: auto;
	font-weight: 400;
}

option {
	color: black;
}

.logo {
	width: 140px;
}

/* global */
.h-seperator-one {
	background-color: #191919;
	height: 1px !important;
	border-radius: 30px;
}

.h-seperator-two {
	background-color: #a3a3a3;
	height: 1px !important;
	border-radius: 30px;
}

.transparent-btn {
	border: 1px solid #d6d6d6;
	padding: 7px 25px;
	border-radius: 10px;
	font-size: 12px;
	min-width: 100px;
}

/* global end */

.video-ai-menu img {
	width: 15px;
	height: 15px;
}

.video-ai-menu li {
	width: fit-content;
	padding: 10px 20px;
	border-radius: 30px;
}

.video-ai-menu li:not(:last-child) {
	margin-bottom: 5px;
}

.video-ai-menu li:hover {
	background-color: #EEF2FF;
}

.video-ai-menu li:hover p {
	background: linear-gradient(to right, #2FA5F6, #4318FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	/* For other browsers */
}

.colored-text {
	background: linear-gradient(to right, #2FA5F6, #4318FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	/* For other browsers */
}

.frame {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.layout {
	position: relative;
	border: 1px solid #000;
	padding: 14%;
	width: 500px;
	border-radius: 10px;
}

.layout img {
	position: absolute;
	left: 220px;
	top: 92px;
	width: 70px;
	height: 40px;
}

.frame-btn button {
	background: linear-gradient(to right, #4318FF, #2FA5F6);
	padding: 8px 16px;
	border-radius: 8px;
}

.assets .frame-btn button {
	background: linear-gradient(to right, #4318FF, #2FA5F6);
	padding: 6px 16px;
	border-radius: 8px;
	font-size: 14px;
	width: 100%;
}

.editor-layout nav {
	height: 50px;
	padding: 15px 40px;
	border-bottom: 1px solid #000;
}

.editor-layout .colored-btn {
	padding: 5px 16px;
	font-size: 14px;
}

.editor-layout .simple-btn {
	padding: 5px 16px;
	font-size: 14px;
}

.colored-btn {
	background: linear-gradient(to right, #2FA5F6, #4318FF);
	padding: 8px 16px;
	border-radius: 8px;
}

.simple-btn {
	border: 1px solid #000;
	color: #000;
	padding: 8px 16px;
	border-radius: 8px;
}

.nav-btn img {
	width: 14px;
}

.nav-btn button:not(:last-child) {
	margin-right: 10px;
}

.menu-tab {
	padding: 5px 5px;
	box-shadow: 1px 0px 3px #00000047;
	height: 100%;
}

.menu-tab .menu-tab-wrapper:not(:last-child) {
	margin-bottom: 10px;
}

.menu-tab .menu-tab-wrapper:hover {
	background: linear-gradient(to right, #2FA5F6, #4318FF);
}

.menu-tab-wrapper:hover {
	cursor: pointer;
}

.background-active {
	background: linear-gradient(to right, #2FA5F6, #4318FF);
}

.menu-tab .menu-tab-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 13px 4px;
	border-radius: 8px;
}

.menu-tab .menu-tab-wrapper p {
	font-size: 13px;
	margin-bottom: 0;
}

.menu-tab .menu-tab-wrapper img {
	width: 25px;
	height: 25px;
	margin-bottom: 5px;
}

.menu-tab-options {
	padding: 15px 5px 5px 10px;
	box-shadow: 3px 0px 3px #0000001c;
	height: 100%;
}

.menu-tab-options p {
	font-size: 14px;
	margin-bottom: 0;
}

.menu-tab-options .template {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.react-thumbnail-generator {
	width: 100px;
	height: 50px;
}

.bottom-section {
	overflow-x: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.bottom-section::-webkit-scrollbar {
	display: none;
}

.timeline {
	display: flex;
	flex-direction: column;
	background: linear-gradient(to right, #4318FF, #2FA5F6);
	padding: 0px 3px 3px 3px;
	border-radius: 10px;
	margin-top: 10px;
}

.thumbnail-frame {
	position: relative;
	background-color: #ccc;
	padding: 2px 8px;
}

.thumbnail-frame::before {
	background-image: url(../img/images/left-arrow.svg);
	left: -8px;
}

.thumbnail-frame::after {
	background-image: url(../img/images/right-arrow.svg);
	right: -12px;
}

.thumbnail-frame::before,
.thumbnail-frame::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 10px;
	height: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateY(-50%);
}

/* avatar */
.background-images {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.background-images img {
	width: 93px;
	height: 93px;
	border-radius: 5px;
	object-fit: cover;
}

.template img {
	max-width: 100%;
	border-radius: 10px;
}

/* avatar end */

/* script */
.bottom-border-btn {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #DBDBDB;
	padding: 20px 15px;
	font-weight: 300;
	text-decoration: none;
	color: #585969;
	z-index: 1;
	background: linear-gradient(to right, #000, #000);
	-webkit-background-clip: text;
	background-clip: text;
	color: #585969;
	font-family: "Inter", sans-serif !important;
}

.bottom-border-btn::before {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	font-weight: 600;
	background: linear-gradient(to right, #2FA5F6, #4318FF);
	transform: scaleX(0);
	transition: transform 0.3s ease;
	transform-origin: right;
	font-optical-sizing: auto;
	font-family: "Inter", sans-serif !important;
}

.bottom-border-btn:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.bottom-border-btn:hover {
	background: linear-gradient(to right, #2FA5F6, #4318FF);
	/* Gradient color for text on hover */
	-webkit-background-clip: text;
	font-weight: 600;
	background-clip: text;
	color: transparent;
}

.bottom-border-btn:hover::after {
	opacity: 0;
}

.script-textarea {
	border: none !important;
	background-color: #ecececb3;
	border-radius: 10px;
}

.script-textarea:focus-visible {
	outline: none !important;
}


.custom-select {
	width: 100%;
	/* Adjust the width to your preference */
	padding: 10px;
	/* border: 1px solid #e0e0e0; */
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	cursor: pointer;
	font-family: Arial, sans-serif;
	position: relative;
}

.select-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.file-info {
	display: flex;
	flex-direction: column;
}

.file-name {
	font-size: 14px;
	color: #2f3e6f;
}

.file-duration {
	font-size: 12px;
	color: #999;
}

.arrow-down {
	display: flex;
	align-items: center;
}

.arrow-down img {
	margin-right: 13px;
}

.custom-select:hover {
	border-color: #bdbdbd;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
	position: absolute;
	top: 89%;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 10px 3px #0000001a;
	border-radius: 8px;
	z-index: 10;
	overflow: hidden;
}

.dropdown-item {
	padding: 10px;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	justify-content: space-between;
}

.dropdown-item:last-child {
	border-bottom: none;
}

.dropdown-item:hover {
	background-color: #f0f8ff;
	/* Light background on hover */
}

.dropdown-item .file-name {
	font-size: 14px;
	color: #2f3e6f;
}

.dropdown-item .file-duration {
	font-size: 12px;
	color: #999;
}


/* script end */
/* gallery section */

.photo-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	padding: 10px;
}

.photo-item {
	position: relative;
	max-width: 200px;
	flex: 1 1 calc(60% - 40px);
	/* Adjusts items to fit within 25% of the container width */
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
}

.photo-item img {
	width: 100%;
	height: auto;
}

.photo-item p {
	margin: 10px 0;
	font-size: 13px;
	color: #333;
}

.photo-item .badge {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #007BFF;
	color: white;
	padding: 5px 10px;
	border-radius: 50%;
	font-size: 12px;
}

@media (max-width: 768px) {
	.photo-item {
		flex: 1 1 calc(50% - 40px);
		/* Stack two items per row on smaller screens */
	}
}

@media (max-width: 480px) {
	.photo-item {
		flex: 1 1 100%;
		/* Stack items vertically on very small screens */
	}
}

/* gallery section end */